# Python
venv/
env/
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
dist/
build/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# 대용량 데이터 파일 무시
# *.pkl
database/*
!*.7z
# data/
# database/
# results/

data_final/*.pkl
database_final/*.db
final_data/*
final_database/*
final_notebooks/*
!1_Preprocessing.ipynb
!2_Retrieval_and_Metrics.ipynb
!3_Regression_and_Visualization.ipynb
!4_Advanced_Analysis.ipynb

# Index
index/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Jupyter
.ipynb_checkpoints/

# 로그
*.log